body {
    background-color: #5e5e5e;
    width: 90%;
    margin: 0 auto;
    min-width: 600px;
    max-width: 2000px;
}

#linha0, #linha1, #linha2, #linha3, #linha4 {
    min-width: 460px;
    
}


#linhas input[type=text] {
    height: 60px;
    width: 60px;
    background-color: #5e5e5e;
    border: 2px solid #ffffff;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
    color:#0c0c0d;
    margin:10px 2px;
}


#linhas {
    margin: 50px 38%;
}

#Button1 {
       height: 70px;
       width: 150px;
       background-color: #83E528;
       border: 2px solid #ffffff;
       border-radius: 15px;
       text-align: center;
       font-size: 150%;
       font-family: 'Fredoka One', cursive;
       color: #0c0c0d;
       }


#Button2 {
    height: 70px;
    width: 150px;
    background-color: #ff6a00;
    border: 2px solid #ffffff;
    border-radius: 15px;
    text-align: center;
    font-size: 150%;
    font-family: 'Fredoka One', cursive;
    color: #0c0c0d;
    margin:10px 70px;
    
}
#Button {
    width: 380px;
    min-width: 460px;
}